<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1280,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,720}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>d a.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,724},{1280,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,155}}</string>
                <key>sourceSize</key>
                <string>{1280,155}</string>
            </dict>
            <key>d.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,724},{1280,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,155}}</string>
                <key>sourceSize</key>
                <string>{1280,155}</string>
            </dict>
            <key>l a.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,1926},{73,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,52}}</string>
                <key>sourceSize</key>
                <string>{73,52}</string>
            </dict>
            <key>l.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,1926},{98,52}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{98,52}}</string>
                <key>sourceSize</key>
                <string>{102,52}</string>
            </dict>
            <key>s a.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,946},{200,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,212}}</string>
                <key>sourceSize</key>
                <string>{200,212}</string>
            </dict>
            <key>s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,724},{200,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,220}}</string>
                <key>sourceSize</key>
                <string>{200,220}</string>
            </dict>
            <key>shu a2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,1443},{157,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,281}}</string>
                <key>sourceSize</key>
                <string>{157,281}</string>
            </dict>
            <key>shu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,1160},{157,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,281}}</string>
                <key>sourceSize</key>
                <string>{157,281}</string>
            </dict>
            <key>z a.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,1325},{806,599}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{806,599}}</string>
                <key>sourceSize</key>
                <string>{806,599}</string>
            </dict>
            <key>z.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,724},{806,599}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{806,599}}</string>
                <key>sourceSize</key>
                <string>{806,599}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>screen1.png</string>
            <key>size</key>
            <string>{1326,2006}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4445521e4be31e6a1e7d6af407dd5db4$</string>
            <key>textureFileName</key>
            <string>screen1.png</string>
        </dict>
    </dict>
</plist>
