<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bj2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1280,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,720}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>cai a.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,856},{1280,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,130}}</string>
                <key>sourceSize</key>
                <string>{1280,130}</string>
            </dict>
            <key>cai.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,724},{1280,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,130}}</string>
                <key>sourceSize</key>
                <string>{1280,130}</string>
            </dict>
            <key>d h.png</key>
            <dict>
                <key>frame</key>
                <string>{{2066,724},{221,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,229}}</string>
                <key>sourceSize</key>
                <string>{221,229}</string>
            </dict>
            <key>g y.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,988},{481,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{481,720}}</string>
                <key>sourceSize</key>
                <string>{481,720}</string>
            </dict>
            <key>g zhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,2},{597,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{597,720}}</string>
                <key>sourceSize</key>
                <string>{597,720}</string>
            </dict>
            <key>g zuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1446},{495,719}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{495,719}}</string>
                <key>sourceSize</key>
                <string>{495,719}</string>
            </dict>
            <key>p a.png</key>
            <dict>
                <key>frame</key>
                <string>{{1506,988},{431,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{431,720}}</string>
                <key>sourceSize</key>
                <string>{431,720}</string>
            </dict>
            <key>p.png</key>
            <dict>
                <key>frame</key>
                <string>{{1883,2},{431,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{431,720}}</string>
                <key>sourceSize</key>
                <string>{431,720}</string>
            </dict>
            <key>ph.png</key>
            <dict>
                <key>frame</key>
                <string>{{2054,1498},{271,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,52}}</string>
                <key>sourceSize</key>
                <string>{271,52}</string>
            </dict>
            <key>s a.png</key>
            <dict>
                <key>frame</key>
                <string>{{1718,1498},{334,439}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,439}}</string>
                <key>sourceSize</key>
                <string>{334,439}</string>
            </dict>
            <key>s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1382,1498},{334,439}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,439}}</string>
                <key>sourceSize</key>
                <string>{334,439}</string>
            </dict>
            <key>shu a.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,1471},{506,657}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{506,657}}</string>
                <key>sourceSize</key>
                <string>{506,657}</string>
            </dict>
            <key>shu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,724},{780,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{780,720}}</string>
                <key>sourceSize</key>
                <string>{780,720}</string>
            </dict>
            <key>xue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1506,1421},{697,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{697,75}}</string>
                <key>sourceSize</key>
                <string>{697,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>screen3.png</string>
            <key>size</key>
            <string>{2316,1979}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:243486a8393daae49f3d6228441a0a4e$</string>
            <key>textureFileName</key>
            <string>screen3.png</string>
        </dict>
    </dict>
</plist>
